@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

$ion-title: 'Pacifico', cursive;
$title-font: 'Quicksand', sans-serif;
$text-font: 'Quicksand', sans-serif;
$uploader: #3EC6A7;

page-journal-add-media {

  h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    font-weight: 900;
  }

  p, ion-input, ion-label, span, button, ion-textarea {
    font-family: $text-font;
    font-weight: 500;
  }

  #file-upload{
    width: 90px;
    height: 90px;
    border: 1px dashed $uploader;
    border-radius: 3px;
    text-align: center;
    color: $uploader;
    margin-top: 10px;
  }

  #image-icon {
    margin-top: 5px;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label {
    width: 50px;
    height: 50px;
    display: inline-block;
  }
  .info {
    margin-left: 10px;
  }

  .form-element {
    border-bottom: 1px solid grey;
    margin-bottom: 3px;
    padding-left: 3px;
  }

  .back-button-ios {
    color: $dim;
  }


}
