@import url('https://fonts.googleapis.com/css?family=Pacifico');
ion-title {
    font-family: 'Pacifico', cursive;
    text-align: center;
}

page-home{
  .journal-img {
    width: 100%;
    max-height: 450px;
    object-fit: cover
  }
  .description {
    color: #000000;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

