<!--
  Generated template for the DetailView page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Travelust</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div>
    <img  *ngIf="file.media_type == 'image'" [src]="'http://media.mw.metropolia.fi/wbma/uploads/'+ file.filename">

    <video *ngIf="file.media_type == 'video'" width="320" height="240" controls>
      <source [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + file.filename" type="video/mp4">
    </video>

    <audio controls *ngIf="file.media_type == 'audio'">
      <source [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + file.filename" type="audio/mpeg">
    </audio>

    <div>
      <h1>Title: {{file.title}}</h1>
      <p>Description: {{file.description}}</p>
      <h5>Uploaded by {{owner}}</h5>
      <p>{{likes}} {{likeStr}}

        <span *ngFor="let user of users; let i = index; trackBy:trackByUsers">
          {{user}} <span> {{(i+1) < users.length? ', ' : ''}} </span>
        </span>

      </p>
      <input type="button" value="{{button}}" (click)="onClick()">
    </div>
  </div>
</ion-content>

