<!--
  Generated template for the MyAccount page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Travelust</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-row>
    <ion-col>
      <img id="cover-pic" src="././assets/img/cover.jpg"><br>
        <ion-avatar>
          <img id="profile-pic" [src]="'https://api.adorable.io/avatars/80/' + user.username + 'oo.png'">
        </ion-avatar>
    </ion-col>
  </ion-row>
  <ion-row id="username">
    <ion-col text-center>
      <h2>{{user.fullname}}</h2>
      <h2 *ngIf="!user.fullname">{{user.username}}</h2>
    </ion-col>
  </ion-row>

  <ion-item>
    <button ion-button clear (click)="goToJournals()">
      <ion-icon name='md-images' item-left style="color: #d03e84"></ion-icon>
      Journals
    </button>
      <ion-badge item-right>{{journals.length}}</ion-badge>

  </ion-item>

  <ion-item>
    <button ion-button clear>
      <ion-icon name='md-star' item-left style="color: #FFEB4F"></ion-icon>
        Saved journals
    </button>
    <ion-badge item-right>5</ion-badge>
  </ion-item>

  <ion-item>
    <button ion-button clear>
      <ion-icon name='md-happy' item-left style="color: #55acee"></ion-icon>
        Friends
    </button>
    <ion-badge item-right>260k</ion-badge>
  </ion-item>

  <ion-row *ngIf="!isOwner">
    <ion-col text-center>
        <button ion-button icon-left id="add-btn" outline round small (click)="addUser()" [class.user-added]="isAdded">
          <ion-icon [class.user-added]="isAdded" name={{addIcon}}></ion-icon>
          {{addText}}
        </button>
    </ion-col>
  </ion-row>


</ion-content>
