$dim: #808181;

page-user-account {
  #cover-pic {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  ion-navbar {
    ion-icon {
      color: $dim;
    }
  }

  #profile-pic {
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    top: 28%;
    left: 38%;
  }

}
